* {
    border: 2px solid red;
}

* {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.favorites {
    background-color: yellow;
}

h3 {
    color: red;
   
  }

  ul>li {
    text-align: center;
  
  }